@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Dark Mode */
.dark ::-webkit-scrollbar {
  width: 8px;
}
.dark ::-webkit-scrollbar-track {
  background: #1e293b; 
}
.dark ::-webkit-scrollbar-thumb {
  background: #475569; 
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #64748b; 
}
